.side-var
  .side-var__user-name
    .side-var__user-name__name-icon
      .side-var__user-name__name-icon__name
        = current_user.name
      .side-var__user-name__name-icon__icon
      =link_to new_group_path do
        = icon('fas', 'edit', class: "side-var__user-name__name-icon__icon__edit")
      =link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: "side-var__user-name__name-icon__icon__setting")
  .side-var__group-list
    - current_user.group.each do |group|
      .side-var__group-list__content
        = link_to group_messages_path(group), class: "link-decoration" do
          .side-var__group-list__content__group-name
            = group.name
          .side-var__group-list__content__group-message
            = group.show_last_message
            -# 最終メッセージをgroupモデルで指定。
